<header id="cs-navigation">
  <div class="cs-container">
    <div class="cs-content">
      <a href="#" class="cs-logo" aria-label="{{ client.name }} home page">
        <img
          src="/assets/svgs/logo.svg"
          alt="{{ client.name }} logo"
          width="180"
          height="40"
          decoding="async"
        />
      </a>
      <p class="cs-title">Euan Hunter</p>
    </div>
    <div class="cs-content">
      <nav class="cs-nav" role="navigation">
        <ul class="cs-nav-list">
          <li class="cs-nav-item">
            <a href="#about" class="cs-nav-link">about</a>
          </li>
          <li class="cs-nav-item">
            <a href="#work" class="cs-nav-link">work</a>
          </li>
          <li class="cs-nav-item">
            <a href="#gallery" class="cs-nav-link">gallery</a>
          </li>
          <li class="cs-nav-item">
            <a href="#contact" class="cs-nav-link">contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
