---
title: "work"
description: ""
permalink: "/work/"
tags: "sitemap"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/work.css" />
{% endblock %} {% block body %}

<section id="work">
  <div class="cs-container">
    <div class="cs-content">
      <p class="cs-title">Work & Collections</p>
    </div>
    <div class="cs-content">
      <p class="cs-text">{{ site.work.intro }}</p>
    </div>
    {% for work in works.items %}
    <div class="cs-content">
      <div class="cs-topper-section">
        <p class="cs-topper">{{ work.title }}</p>
      </div>
      {% for para in work.description %}
      <div class="cs-text">{{ para }}</div>
      {% endfor %}
    </div>
    <div class="cs-gallery">
      {% for image in work.images %}
      <img src="{{ image }}" />
      {% endfor %}
    </div>
    {% if not loop.last %}
    <div class="cs-content">
      <img class="divider-small" src="/assets/svgs/Divider-small.svg" />
    </div>
    {% endif %}
    {% endfor %}
    <div class="cs-content">
      <img class="divider" src="/assets/svgs/Divider-large.svg" />
    </div>
    <div class="cs-content">
      <a class="cs-button" href="#">back to top</a>
    </div>
  </div>
</section>
{% endblock %}
